/*Targeting all elements*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root variable setup */
:root {
  --bg-color: #000;
  --default-font-color: #ffffff;
  --blue: #1a498c;
  --light-blue: #ebf6f9;
  --font-weight-base: 400;
  --font-size-base: 1rem;            /* 16px default */
  --line-height-base: 1.5;
}

/* 3. Global HTML/Body Setup */
html {
  font-size: 100%;                   /* respects user browser defaults */
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--default-font-color);
  min-height: 100vh;
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
}

/* 4. media elements safety */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*************************************************/

.flex-row-hd-ft{
  display: flex;
  padding: 30px 10px;
  justify-content: space-between;
}

.logo{width: 140px;}
.logo-sg{width: 60px;}
.menu-button{
  background-color: var(--bg-color);
  color: var(--default-font-color);
  font-size: 1.5rem;
  text-decoration: underline;
  border: none;
}

.nav-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease, opacity 0.35s ease;
  opacity: 0;
}

.nav-wrapper.open {
  grid-template-rows: 1fr;
  opacity: 1;
}

.nav {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav a, footer a{
  color: var(--default-font-color);
  text-decoration: none;
}

.full-width-img{
  width: 100%;
}

.flex-container-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.heading{
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  padding: 5px 0 5px 0;
}

.full-width-box-paragraph {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.button-rounded{
  border-radius: 15px;
  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: underline;
  padding: 15px;
  margin: 10px
}

.blue{
  background-color:var(--blue);
  color: var(--default-font-color);
  border: 1px solid var(--default-font-color);
}

.mail{
  color: var(--bg-color);
  font-weight: 600;
  text-decoration: overline;
  padding: 10px;
}

.center-img{margin:auto;
            width: 50%;}

.light-blue-bg{
  background-color:var(--light-blue);
  color: var(--bg-color);
}

.white-bg{
  background-color:var(--default-font-color);
  color: var(--bg-color);
}

.light-blue{
  background-color:var(--light-blue);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.white{
  background-color:var(--bg-color);
  color: var(--default-font-color);
  border: 1px solid var(--default-font-color);
}